* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI, Tahoma, Geneva, Verdana, sans-serif";
    line-height: 1.6;
    color: #333;
}


.navigation {
    background: linear-gradient(135deg, #667eea, 0%, #764ba2);
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    color: white; 
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.nav-links a:hover {
    background-color: #ffffff;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px black;
}
.nav-links a:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px black;
}


.main-section {
    background: linear-gradient(135deg, #ffffff 0%, #2109c2 100%);
    height: 40vh;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-weight: bold;
}

.main-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(57,57,57);
}
.main-description {
    font-size: 1.3rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}


.cardscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 3rem;
    background: lightgray;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 2.5rem 2rem;
    min-width: 280px;
    max-width: 350px;
    box-shadow: 0 10px 30px rgb(57, 57, 57);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    transition: all 0.3 ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgb(104, 103, 103);
}

.card-icon {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.card h3 {
    color: #2109c2;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.card p {
    color: #645aa1;
    font-size: 1rem;
}


.footer {
    background: linear-gradient(135deg, #667eea, 0%, #200b35);
    color: white;
    padding: 3rem; 
}

.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.footer-section h4 {
    color: #2109c2;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.footer-section p {
    color: lightgray;
    font-size: 1rem;
    line-height: 1.6;
}
.footer-section a {
    color: white;
    text-decoration: none;
    transition: all 0.3 ease;
}
.footer-section a:hover {
    color: #2109c2;
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid black;
}